<%= render "shared/second-header"%>
<div class='registration_another_list'>
  <h1>
    <%= link_to "メールアドレスで登録", new_user_registration_path%>
    <%= link_to "Facebookで登録",  user_facebook_omniauth_authorize_path, method: :post%>
    <%= link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method: :post%>
  </h1>
</div>